- name: Ensure correct hostname
  hostname:
    name: "{{ hostname }}"
    use: systemd

- name: Ensure tools to add additional apt sources
  tags: [repos]
  become: yes
  package:
    name:
    - ca-certificates
    - curl
    - gnupg
    state: present
    update_cache: true

- name: Ensure additional apt sources
  tags: [repos]
  include_tasks: 3rd-party-apt-repository.yml
  loop: "{{ apt_repositories }}"

- name: Ensure apt is update to date
  become: yes
  tags: [packages, repos]
  apt:
    update_cache: yes

- name: Ensure system packages
  become: yes
  tags: [packages]
  apt:
    name: "{{ apt_packages }}"
    state: present

- name: "Ensure deb-packages are installed"
  become: yes
  tags: [packages]
  apt:
    deb: "{{ item }}"
  loop: "{{ deb_packages }}"
