- name: Ensure ssh keypair
  openssh_keypair:
    path: "{{ lookup('env', 'HOME') }}/.ssh/id_ed25519"
    type: ed25519
    regenerate: full_idempotence

- name: Ensure ssh key on github
  github_key:
    name: "{{ lookup('env', 'USER') }}@{{ hostname }}"
    token: "{{ github_token }}"
    pubkey: "{{ lookup('file', lookup('env', 'HOME') ~ '/.ssh/id_ed25519.pub') }}"

- name: Ensure ssh key on gitea
  github_key:
    name: "{{ lookup('env', 'USER') }}@{{ hostname }}"
    token: "{{ gitea_token }}"
    pubkey: "{{ lookup('file', lookup('env', 'HOME') ~ '/.ssh/id_ed25519.pub') }}"
    api_url: "{{ gitea_api_url }}"
